.app {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.theme-selector {
  padding: 10px 15px 5px;
}

.theme-selector .theme-label {
  margin: 0 5px;
}
